<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="css/style.css"> 
<title>About</title>
<link rel="icon" href="https://images-na.ssl-images-amazon.com/images/I/71tvwXSZYaL.png">
</head>

<body>

    <div class="main-content">
{{>header}}

<img class="portrait" src="idol.png">

    </div>

{{>footer}}


</body>


</html> 